{% extends 'base.html.twig' %}

{% block title %}Preferences{% endblock %}

{% block body %}
<div class="bg-dark p-3 mb-3 rounded">
    <h1>Preferences</h1>
</div>
<div class="alert alert-danger">
    <p>Currently you cannot change your preferences from within the app.</p>
    <p>You will need to ask Bubu (because only he has database access) to mark your account as not activated, and go through the activation process again.</p>
    <p>Sorry, and thanks for your patience!</p>
</div>
{% endblock %}
