{% extends 'base.html.twig' %}
{% set meta_description = "Change your account preferences here." %}

{% block title %}Preferences{% endblock %}

{% block body %}
<div class="bg-dark p-3 mb-3 rounded">
    <h1>Preferences</h1>
    <p>Change your preferences here.</p>
</div>

<h1>Change preferences</h1>
{{ form(preferences_form) }}

<h1>Change password</h1>
{{ form(change_password_form) }}

{% endblock %}
