{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="p-3 bg-dark mb-3 rounded">
    <h1>Administration</h1>
    <p>Use this page to modify aspects of the Ohana Network. If you're authorized to do this, congratulations!, you're an important person.</p>
</div>
<div class="list-group">
    <a href="{{ path('admin_users') }}" class="list-group-item list-group-item-action">
        Users
    </a>
</div>
{% endblock %}
